<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>

	<body>
		<dl>
			<dt>controller</dt>
			<dd><%= controller %></dd>

			<dt>action</dt>
			<dd><%= action %></dd>
		</dl>
	</body>
</html>
